// Main
$theme-name: proton;

// Colors
$text-color: #333;
$text-color-subtle: #777;
$text-color-highlight: #111;
$text-color-selected: $text-color-highlight;

$text-color-info: #5293d8;
$text-color-success: #1fe977;
$text-color-warning: #f78a46;
$text-color-error: #c00;

$background-color-info: #0098ff;
$background-color-success: #17ca65;
$background-color-warning: #ff4800;
$background-color-error: #c00;
$background-color-highlight: rgba(255, 255, 255, 0.10);
$background-color-selected: $background-color-highlight;

$app-background-color: #fff;

$base-background-color: #fff;
$base-border-color: #eee;

$pane-item-background-color: $base-background-color;
$pane-item-border-color: $base-border-color;

$input-background-color: #fff;
$input-border-color: $base-border-color;

$tool-panel-background-color: #f4f4f4;
$tool-panel-border-color: $base-border-color;

$inset-panel-background-color: #eee;
$inset-panel-border-color: $base-border-color;

$panel-heading-background-color: #ddd;
$panel-heading-border-color: transparent;

$overlay-background-color: #f4f4f4;
$overlay-border-color: $base-border-color;

$button-background-color: #ccc;
$button-background-color-hover: lighten($button-background-color, 5%);
$button-background-color-selected: $button-background-color-hover;
$button-border-color: #aaa;

$tab-background-color: #f4f4f4;
$tab-background-color-active: #fff;
$tab-border-color: $base-border-color;
$tab-bar-background-color: #fff;
$tab-bar-border-color: darken($tab-background-color-active, 10%);

$tree-view-background-color: $tool-panel-background-color;
$tree-view-border-color: $tool-panel-border-color;

$ui-site-color-1: $background-color-success; // green
$ui-site-color-2: $background-color-info; // blue
$ui-site-color-3: $background-color-warning; // orange
$ui-site-color-4: #db2ff4; // purple
$ui-site-color-5: #f5e11d; // yellow


// Sizes
$ui-size:                 1em;
$ui-input-size:           $ui-size*1.15;
$ui-padding:              $ui-size*1.5;
$ui-padding-pane:         $ui-size*.5;
$ui-padding-icon:         $ui-padding/3.3;
$ui-line-height:          $ui-size*2;
$ui-tab-height:           $ui-padding*2;

$font-size: 13px;
$input-font-size: 14px;

$disclosure-arrow-size: 12px;

$font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

$component-padding: 10px;
$component-icon-padding: 5px;
$component-icon-size: 16px;
$component-line-height: 25px;
$component-border-radius: 2px;

// Fallback variables. It specifies all syntax variables that
// themes must implement if they include a syntax-variables.less file.

// General colors
$syntax-text-color: #333;
$syntax-cursor-color: #333;
$syntax-selection-color: #69c;
$syntax-selection-flash-color: #00f; // Color the selection is 'flashed' when you run find next
$syntax-background-color: #fff;

// Guide colors
$syntax-wrap-guide-color: #ccc;
$syntax-indent-guide-color: #ccc;
$syntax-invisible-character-color: #ccc;

// For find and replace markers
$syntax-result-marker-color: #444;
$syntax-result-marker-color-selected: #000;

// Gutter colors
$syntax-gutter-text-color: #333;
$syntax-gutter-text-color-selected: #000;
$syntax-gutter-background-color: #ccc;
$syntax-gutter-background-color-selected: #eee;

// For git diff info. i.e. in the gutter
$syntax-color-added: green;
$syntax-color-modified: orange;
$syntax-color-removed: red;
$syntax-color-renamed: blue;

// For language entity colors
$syntax-color-variable: #DF6A73;
$syntax-color-constant: #DF6A73;
$syntax-color-property: #DF6A73;
$syntax-color-value: #D29B67;
$syntax-color-function: #61AEEF;
$syntax-color-method: $syntax-color-function;
$syntax-color-class: #E5C17C;
$syntax-color-keyword: #a431c4;
$syntax-color-tag: #b72424;
$syntax-color-attribute: #87400d;
$syntax-color-import: #97C378;
$syntax-color-snippet: #97C378;
