@charset "UTF-8";
/**
 * ________             _____
 * ___  __ \______________  /_____________
 * __  /_/ /_  ___/  __ \  __/  __ \_  __ \\
 * _  ____/_  /   / /_/ / /_ / /_/ /  / / /
 * /_/     /_/    \____/\__/ \____//_/ /_/
 *
 * Created by: @trevorjtclarke
 * Copyright: 2015
 * License: MIT
 */
/* TODO: migrate to have this work, similar to LESS
@mixin text(normal) {
  font-weight: normal;
  color: $text-color;
}
@mixin text(subtle) {
  font-weight: normal;
  color: $text-color-subtle;
}
@mixin text(highlight) {
  font-weight: normal;
  color: $text-color-highlight;
}
@mixin text(selected) {
  @include text(highlight)
}

@mixin text(info) {
  color: $text-color-info;
}
@mixin text(success) {
  color: $text-color-success;
}
@mixin text(warning) {
  color: $text-color-warning;
}
@mixin text(error) {
  color: $text-color-error;
} */
@font-face {
  font-family: 'octicon';
  src: url("./fonts/octicons.eot?#iefix") format("embedded-opentype"), url("./fonts/octicons.woff") format("woff"), url("./fonts/octicons.ttf") format("truetype"), url("./fonts/octicons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, .mega-icon {
  font: normal normal normal 16px/1 icon;
  font-family: 'octicon';
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mega-icon {
  font-size: 32px; }

.icon-alert::before {
  content: ""; }

.icon-alignment-align::before {
  content: ""; }

.icon-alignment-aligned-to::before {
  content: ""; }

.icon-alignment-unalign::before {
  content: ""; }

.icon-arrow-down::before {
  content: ""; }

.icon-arrow-left::before {
  content: ""; }

.icon-arrow-right::before {
  content: ""; }

.icon-arrow-small-down::before {
  content: ""; }

.icon-arrow-small-left::before {
  content: ""; }

.icon-arrow-small-right::before {
  content: ""; }

.icon-arrow-small-up::before {
  content: ""; }

.icon-arrow-up::before {
  content: ""; }

.icon-beer::before {
  content: ""; }

.icon-book::before {
  content: ""; }

.icon-bookmark::before {
  content: ""; }

.icon-briefcase::before {
  content: ""; }

.icon-broadcast::before {
  content: ""; }

.icon-browser::before {
  content: ""; }

.icon-bug::before {
  content: ""; }

.icon-calendar::before {
  content: ""; }

.icon-check::before {
  content: ""; }

.icon-checklist::before {
  content: ""; }

.icon-chevron-down::before {
  content: ""; }

.icon-chevron-left::before {
  content: ""; }

.icon-chevron-right::before {
  content: ""; }

.icon-chevron-up::before {
  content: ""; }

.icon-circle-slash::before {
  content: ""; }

.icon-circuit-board::before {
  content: ""; }

.icon-clippy::before {
  content: ""; }

.icon-clock::before {
  content: ""; }

.icon-cloud-download::before {
  content: ""; }

.icon-cloud-upload::before {
  content: ""; }

.icon-code::before {
  content: ""; }

.icon-color-mode::before {
  content: ""; }

.icon-comment::before {
  content: ""; }

.icon-comment-add::before {
  content: ""; }

.icon-comment-discussion::before {
  content: ""; }

.icon-credit-card::before {
  content: ""; }

.icon-dash::before {
  content: ""; }

.icon-dashboard::before {
  content: ""; }

.icon-database::before {
  content: ""; }

.icon-device-camera::before {
  content: ""; }

.icon-device-camera-video::before {
  content: ""; }

.icon-device-desktop::before {
  content: ""; }

.icon-device-mobile::before {
  content: ""; }

.icon-diff::before {
  content: ""; }

.icon-diff-added::before {
  content: ""; }

.icon-diff-ignored::before {
  content: ""; }

.icon-diff-modified::before {
  content: ""; }

.icon-diff-removed::before {
  content: ""; }

.icon-diff-renamed::before {
  content: ""; }

.icon-ellipsis::before {
  content: ""; }

.icon-eye::before {
  content: ""; }

.icon-eye-unwatch::before {
  content: ""; }

.icon-eye-watch::before {
  content: ""; }

.icon-file-add::before {
  content: ""; }

.icon-file-binary::before {
  content: ""; }

.icon-file-code::before {
  content: ""; }

.icon-file-directory::before {
  content: ""; }

.icon-file-directory-create::before {
  content: ""; }

.icon-file-media::before {
  content: ""; }

.icon-file-pdf::before {
  content: ""; }

.icon-file-submodule::before {
  content: ""; }

.icon-file-symlink-directory::before {
  content: ""; }

.icon-file-symlink-file::before {
  content: ""; }

.icon-file-text::before {
  content: ""; }

.icon-file-zip::before {
  content: ""; }

.icon-flame::before {
  content: ""; }

.icon-fold::before {
  content: ""; }

.icon-gear::before {
  content: ""; }

.icon-gift::before {
  content: ""; }

.icon-gist::before {
  content: ""; }

.icon-gist-fork::before {
  content: ""; }

.icon-gist-new::before {
  content: ""; }

.icon-gist-private::before {
  content: ""; }

.icon-gist-secret::before {
  content: ""; }

.icon-git-branch::before {
  content: ""; }

.icon-git-branch-create::before {
  content: ""; }

.icon-git-branch-delete::before {
  content: ""; }

.icon-git-commit::before {
  content: ""; }

.icon-git-compare::before {
  content: ""; }

.icon-git-fork-private::before {
  content: ""; }

.icon-git-merge::before {
  content: ""; }

.icon-git-pull-request::before {
  content: ""; }

.icon-git-pull-request-abandoned::before {
  content: ""; }

.icon-globe::before {
  content: ""; }

.icon-graph::before {
  content: ""; }

.icon-heart::before {
  content: "♥"; }

.icon-history::before {
  content: ""; }

.icon-home::before {
  content: ""; }

.icon-horizontal-rule::before {
  content: ""; }

.icon-hourglass::before {
  content: ""; }

.icon-hubot::before {
  content: ""; }

.icon-inbox::before {
  content: ""; }

.icon-info::before {
  content: ""; }

.icon-issue-closed::before {
  content: ""; }

.icon-issue-opened::before {
  content: ""; }

.icon-issue-reopened::before {
  content: ""; }

.icon-jersey::before {
  content: ""; }

.icon-jump-down::before {
  content: ""; }

.icon-jump-left::before {
  content: ""; }

.icon-jump-right::before {
  content: ""; }

.icon-jump-up::before {
  content: ""; }

.icon-key::before {
  content: ""; }

.icon-keyboard::before {
  content: ""; }

.icon-law::before {
  content: ""; }

.icon-light-bulb::before {
  content: ""; }

.icon-link::before {
  content: ""; }

.icon-link-external::before {
  content: ""; }

.icon-list-ordered::before {
  content: ""; }

.icon-list-unordered::before {
  content: ""; }

.icon-location::before {
  content: ""; }

.icon-lock::before {
  content: ""; }

.icon-log-in::before {
  content: ""; }

.icon-log-out::before {
  content: ""; }

.icon-logo-github::before {
  content: ""; }

.icon-mail::before {
  content: ""; }

.icon-mail-read::before {
  content: ""; }

.icon-mail-reply::before {
  content: ""; }

.icon-mark-github::before {
  content: ""; }

.icon-markdown::before {
  content: ""; }

.icon-megaphone::before {
  content: ""; }

.icon-mention::before {
  content: ""; }

.icon-microscope::before {
  content: ""; }

.icon-milestone::before {
  content: ""; }

.icon-mirror::before {
  content: ""; }

.icon-mirror-private::before {
  content: ""; }

.icon-mirror-public::before {
  content: ""; }

.icon-mortar-board::before {
  content: ""; }

.icon-move-down::before {
  content: ""; }

.icon-move-left::before {
  content: ""; }

.icon-move-right::before {
  content: ""; }

.icon-move-up::before {
  content: ""; }

.icon-mute::before {
  content: ""; }

.icon-no-newline::before {
  content: ""; }

.icon-octoface::before {
  content: ""; }

.icon-organization::before {
  content: ""; }

.icon-package::before {
  content: ""; }

.icon-paintcan::before {
  content: ""; }

.icon-pencil::before {
  content: ""; }

.icon-person::before {
  content: ""; }

.icon-person-add::before {
  content: ""; }

.icon-person-follow::before {
  content: ""; }

.icon-pin::before {
  content: ""; }

.icon-playback-fast-forward::before {
  content: ""; }

.icon-playback-pause::before {
  content: ""; }

.icon-playback-play::before {
  content: ""; }

.icon-playback-rewind::before {
  content: ""; }

.icon-plug::before {
  content: ""; }

.icon-plus::before {
  content: ""; }

.icon-podium::before {
  content: ""; }

.icon-primitive-dot::before {
  content: ""; }

.icon-primitive-square::before {
  content: ""; }

.icon-pulse::before {
  content: ""; }

.icon-puzzle::before {
  content: ""; }

.icon-question::before {
  content: ""; }

.icon-quote::before {
  content: ""; }

.icon-radio-tower::before {
  content: ""; }

.icon-remove-close::before {
  content: ""; }

.icon-repo::before {
  content: ""; }

.icon-repo-clone::before {
  content: ""; }

.icon-repo-create::before {
  content: ""; }

.icon-repo-delete::before {
  content: ""; }

.icon-repo-force-push::before {
  content: ""; }

.icon-repo-forked::before {
  content: ""; }

.icon-repo-pull::before {
  content: ""; }

.icon-repo-push::before {
  content: ""; }

.icon-repo-sync::before {
  content: ""; }

.icon-rocket::before {
  content: ""; }

.icon-rss::before {
  content: ""; }

.icon-ruby::before {
  content: ""; }

.icon-screen-full::before {
  content: ""; }

.icon-screen-normal::before {
  content: ""; }

.icon-search::before {
  content: ""; }

.icon-search-save::before {
  content: ""; }

.icon-server::before {
  content: ""; }

.icon-settings::before {
  content: ""; }

.icon-sign-in::before {
  content: ""; }

.icon-sign-out::before {
  content: ""; }

.icon-split::before {
  content: ""; }

.icon-squirrel::before {
  content: ""; }

.icon-star::before {
  content: ""; }

.icon-star-add::before {
  content: ""; }

.icon-star-delete::before {
  content: ""; }

.icon-steps::before {
  content: ""; }

.icon-stop::before {
  content: ""; }

.icon-sync::before {
  content: ""; }

.icon-tag::before {
  content: ""; }

.icon-tag-add::before {
  content: ""; }

.icon-tag-remove::before {
  content: ""; }

.icon-telescope::before {
  content: ""; }

.icon-terminal::before {
  content: ""; }

.icon-three-bars::before {
  content: ""; }

.icon-tools::before {
  content: ""; }

.icon-trashcan::before {
  content: ""; }

.icon-triangle-down::before {
  content: ""; }

.icon-triangle-left::before {
  content: ""; }

.icon-triangle-right::before {
  content: ""; }

.icon-triangle-up::before {
  content: ""; }

.icon-unfold::before {
  content: ""; }

.icon-unmute::before {
  content: ""; }

.icon-versions::before {
  content: ""; }

.icon-x::before {
  content: ""; }

.icon-zap::before {
  content: "⚡"; }

atom-notifications {
  display: block;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none; }
  atom-notifications::-webkit-scrollbar {
    display: none; }
  atom-notifications atom-notification .close-all {
    display: none; }
  atom-notifications atom-notification:first-child .close-all {
    display: block; }
  atom-notifications atom-notification:first-child.has-close .message {
    padding-right: 115px; }
  atom-notifications atom-notification:only-child .close-all {
    display: none; }
  atom-notifications atom-notification:only-child.has-close .message {
    padding-right: 34px; }

atom-notification {
  float: right;
  clear: right;
  position: relative;
  width: 450px;
  padding-left: 30px;
  margin-bottom: 2px;
  max-height: 800px;
  word-wrap: break-word;
  pointer-events: auto; }
  atom-notification.icon:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    border-radius: 2px 0 0 2px; }
  atom-notification:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px; }
  atom-notification .meta,
  atom-notification .close,
  atom-notification .detail,
  atom-notification .stack-toggle,
  atom-notification .stack-container {
    display: none; }
  atom-notification.fatal .meta,
  atom-notification.has-description .meta,
  atom-notification.has-buttons .meta,
  atom-notification.has-close .close,
  atom-notification.has-detail .detail,
  atom-notification.has-stack .stack-toggle,
  atom-notification.has-stack .stack-container {
    display: block; }
  atom-notification .item {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    atom-notification .item.message {
      border-top: none; }
      atom-notification .item.message p:last-child {
        margin-bottom: 0; }
  atom-notification.has-close .message {
    padding-right: 34px; }
  atom-notification .content {
    border-radius: 0 2px 2px 0; }
  atom-notification .message {
    max-height: 200px;
    overflow-y: auto; }
  atom-notification .close-all.btn {
    position: absolute;
    top: 7px;
    right: 38px;
    background: none; }
  atom-notification .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    text-shadow: none;
    color: inherit;
    opacity: .3; }
    atom-notification .close:hover, atom-notification .close:focus {
      opacity: 1;
      color: inherit; }
    atom-notification .close:active {
      opacity: .2; }
    atom-notification .close:before {
      margin: 0;
      color: inherit; }
  atom-notification.has-detail {
    width: 450px; }
  atom-notification .detail {
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
    max-height: 500px;
    overflow-y: auto; }
    atom-notification .detail .line {
      white-space: pre;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
    atom-notification .detail .stack-toggle {
      margin-top: 10px; }
      atom-notification .detail .stack-toggle .icon:before {
        margin: 0; }
    atom-notification .detail .stack-container {
      margin-top: 10px; }
  atom-notification .description {
    font-size: .8em; }
    atom-notification .description p:last-child {
      margin-bottom: 0; }
  atom-notification .btn-toolbar {
    margin-top: 10px; }
  atom-notification .btn-copy-report {
    vertical-align: middle; }

atom-notification.fatal .content {
  color: black;
  background-color: #ff4d4d; }

atom-notification.fatal a {
  color: #660000; }

atom-notification.fatal code {
  color: black;
  background-color: #fa2e2e; }

atom-notification.fatal.icon:before {
  color: #ff8585;
  background-color: #c00; }

atom-notification.fatal .close-all.btn {
  border: 1px solid fadeout(black, 70%);
  color: fadeout(black, 40%);
  text-shadow: none; }
  atom-notification.fatal .close-all.btn:hover {
    background: none;
    border-color: fadeout(black, 20%);
    color: black; }

atom-notification.error .content {
  color: black;
  background-color: #ff4d4d; }

atom-notification.error a {
  color: #660000; }

atom-notification.error code {
  color: black;
  background-color: #fa2e2e; }

atom-notification.error.icon:before {
  color: #ff8585;
  background-color: #c00; }

atom-notification.error .close-all.btn {
  border: 1px solid fadeout(black, 70%);
  color: fadeout(black, 40%);
  text-shadow: none; }
  atom-notification.error .close-all.btn:hover {
    background: none;
    border-color: fadeout(black, 20%);
    color: black; }

atom-notification.warning .content {
  color: #6c2c05;
  background-color: #ffa380; }

atom-notification.warning a {
  color: #ce5509; }

atom-notification.warning code {
  color: #6c2c05;
  background-color: #fb8c60; }

atom-notification.warning.icon:before {
  color: #ffccb8;
  background-color: #ff4800; }

atom-notification.warning .close-all.btn {
  border: 1px solid fadeout(#6c2c05, 70%);
  color: fadeout(#6c2c05, 40%);
  text-shadow: none; }
  atom-notification.warning .close-all.btn:hover {
    background: none;
    border-color: fadeout(#6c2c05, 20%);
    color: #6c2c05; }

atom-notification.info .content {
  color: #112e4d;
  background-color: #80cbff; }

atom-notification.info a {
  color: #2460a0; }

atom-notification.info code {
  color: #112e4d;
  background-color: #60bcfb; }

atom-notification.info.icon:before {
  color: #b8e2ff;
  background-color: #0098ff; }

atom-notification.info .close-all.btn {
  border: 1px solid fadeout(#112e4d, 70%);
  color: fadeout(#112e4d, 40%);
  text-shadow: none; }
  atom-notification.info .close-all.btn:hover {
    background: none;
    border-color: fadeout(#112e4d, 20%);
    color: #112e4d; }

atom-notification.success .content {
  color: #05371b;
  background-color: #72efa8; }

atom-notification.success a {
  color: #0e9448; }

atom-notification.success code {
  color: #05371b;
  background-color: #56e695; }

atom-notification.success.icon:before {
  color: #a4f5c7;
  background-color: #17ca65; }

atom-notification.success .close-all.btn {
  border: 1px solid fadeout(#05371b, 70%);
  color: fadeout(#05371b, 40%);
  text-shadow: none; }
  atom-notification.success .close-all.btn:hover {
    background: none;
    border-color: fadeout(#05371b, 20%);
    color: #05371b; }

atom-notification {
  -webkit-animation: notification-show 0.16s cubic-bezier(0.175, 0.885, 0.32, 1.27499); }
  atom-notification[type="fatal"] {
    -webkit-animation: notification-show 0.16s cubic-bezier(0.175, 0.885, 0.32, 1.27499), notification-shake 4s 2s;
    -webkit-animation-iteration-count: 1, 3; }
    atom-notification[type="fatal"]:hover {
      -webkit-animation-play-state: paused; }
  atom-notification.remove,
  atom-notification.remove:hover {
    -webkit-animation: notification-hide 0.24s cubic-bezier(0.33859, -0.42, 1, -0.22), notification-shrink 0.24s 0.24s cubic-bezier(0.5, 0, 0, 1);
    -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg); }
  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg); } }

@-webkit-keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.8); } }

@-webkit-keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: 800px;
    transform: scale(0.8); }
  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(0.8); } }

@-webkit-keyframes notification-shake {
  0% {
    transform: translateX(0); }
  2% {
    transform: translateX(-4px); }
  4% {
    transform: translateX(8px); }
  6% {
    transform: translateX(-4px); }
  8% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

atom-notifications {
  font-size: 14px; }
  atom-notifications atom-notification:first-child.has-close .message {
    padding-right: 120px; }
  atom-notifications atom-notification:only-child.has-close .message,
  atom-notifications atom-notification.has-close .message {
    padding-right: 40px; }
  atom-notifications atom-notification .item {
    padding: 0.75em; }
  atom-notifications atom-notification.icon:before {
    padding-top: .85em; }

.btn {
  color: #333;
  border-radius: 2px;
  border: none;
  text-shadow: none;
  height: 27px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 13px;
  z-index: 0;
  background-color: #ccc; }
  .btn:hover {
    background-color: #d9d9d9; }
  .btn.selected,
  .btn.selected:hover {
    z-index: 1;
    background-color: #d9d9d9; }

.btn.btn-xs,
.btn-group-xs > .btn {
  padding: 2.5px 5px;
  font-size: 11px;
  height: auto;
  line-height: 1.3em; }

.btn.btn-sm,
.btn-group-sm > .btn {
  padding: 2.5px 5px;
  height: auto;
  line-height: 1.3em; }

.btn.btn-lg,
.btn-group-lg > .btn {
  font-size: 15px;
  padding: 8px 12px;
  height: auto;
  line-height: 1.3em; }

.btn-group > .btn {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa; }

.btn-group > .btn:first-child {
  border-left: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.btn-group > .btn:last-child,
.btn-group > .btn.selected:last-child,
.btn-group > .dropdown-toggle {
  border-right: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.btn-toolbar > .btn-group + .btn-group, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn {
  float: none;
  display: inline-block;
  margin-left: 0; }

.btn-toolbar > * {
  margin-right: 5px; }

.btn-toolbar > *:last-child {
  margin-right: 0; }

.badge {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  border-radius: 1em;
  color: #111;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 13px;
  min-width: 19px;
  padding: 3px 5px; }
  .badge:empty {
    display: none; }
  .badge.badge-info {
    color: white;
    background-color: #0098ff; }
  .badge.badge-success {
    color: white;
    background-color: #17ca65; }
  .badge.badge-warning {
    color: white;
    background-color: #ff4800; }
  .badge.badge-error {
    color: white;
    background-color: #c00; }
  .badge.badge-large {
    font-size: 18px;
    min-width: 28px;
    padding: 5px 8px; }
  .badge.badge-medium {
    font-size: 14px;
    min-width: 22px;
    padding: 4px 6px; }
  .badge.badge-small {
    font-size: 10px;
    min-width: 16px;
    padding: 3px 5px; }
  .badge.badge-flexible {
    font-size: 0.8em;
    min-width: 1.6em;
    padding: 0.4em 0.6em; }
  .badge.icon {
    font-size: 13px;
    padding: 5px 10px; }

.icon::before {
  margin-right: 5px; }

a.icon,
button.icon {
  text-decoration: none;
  color: #333; }
  a.icon:hover,
  button.icon:hover {
    color: #111; }

a {
  cursor: pointer;
  color: #111; }
  a:hover {
    color: #111;
    text-decoration: underline; }

.list-group,
.list-group .list-group-item {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: static; }

.list-group,
.list-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default; }
  .list-group li:not(.list-nested-item),
  .list-group li.list-nested-item > .list-item,
  .list-tree li:not(.list-nested-item),
  .list-tree li.list-nested-item > .list-item {
    line-height: 25px;
    text-wrap: none;
    white-space: nowrap; }
  .list-group .selected::before,
  .list-tree .selected::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    height: 25px; }
  .list-group .selected > *,
  .list-tree .selected > * {
    position: relative; }
  .list-group .icon::before,
  .list-tree .icon::before {
    margin-right: 5px;
    position: relative;
    top: 1px; }
  .list-group .no-icon,
  .list-tree .no-icon {
    padding-left: 21px; }

.list-tree .list-nested-item > .list-tree > li,
.list-tree .list-nested-item > .list-group > li {
  padding-left: 21px; }

.list-tree.has-collapsable-children li.list-item {
  margin-left: 17px; }

.list-tree.has-collapsable-children .list-nested-item.collapsed > .list-group,
.list-tree.has-collapsable-children .list-nested-item.collapsed > .list-tree {
  display: none; }

.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 12px;
  width: 12px;
  height: 12px;
  content: ""; }

.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
  position: relative;
  top: -1px;
  margin-right: 5px; }

.list-tree.has-collapsable-children .list-nested-item.collapsed > .list-item::before {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 12px;
  width: 12px;
  height: 12px;
  content: ""; }

.list-tree.has-collapsable-children .list-nested-item.collapsed > .list-item::before {
  left: 1px; }

.list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
.list-tree.has-collapsable-children .list-nested-item > .list-group > li {
  padding-left: 17px; }

.list-tree.has-collapsable-children .has-flat-children li.list-item,
.list-tree.has-collapsable-children.has-flat-children li.list-item {
  margin-left: 0; }

.info-messages,
.error-messages {
  margin: 0;
  padding: 0;
  list-style: none; }

.error-messages {
  color: #c00; }

ul.background-message {
  font-size: 39px;
  margin: 0;
  padding: 0; }
  ul.background-message li {
    margin: 0;
    padding: 0;
    list-style: none; }
  ul.background-message.centered {
    display: -webkit-flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-align-items: center;
    text-align: center; }
    ul.background-message.centered li {
      width: 100%; }

.panel {
  border-radius: 0;
  border: none;
  background-color: transparent;
  box-shadow: none; }
  .panel.bordered .panel-heading {
    border-radius: 2px 2px 0 0; }

.inset-panel .panel-heading {
  border-radius: 2px 2px 0 0; }

.panel-heading {
  margin: 0;
  padding: 10px;
  border-radius: 0;
  font-size: 13px;
  line-height: 1; }
  .panel-heading .btn {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    position: relative;
    top: -5px; }

atom-panel-container.left,
atom-panel-container.right {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  height: 100%; }
  atom-panel-container.left atom-panel,
  atom-panel-container.right atom-panel {
    height: 100%; }

atom-panel {
  display: block; }

atom-panel.top,
atom-panel.bottom,
atom-panel.left,
atom-panel.right {
  background-color: #f4f4f4; }

.tool-panel {
  position: relative;
  background-color: #f4f4f4; }

.overlay, atom-panel.modal {
  position: absolute;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 9999;
  box-sizing: border-box;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px; }
  .overlay h1, atom-panel.modal h1 {
    margin-top: 0;
    color: #111;
    font-size: 1.6em;
    font-weight: bold; }
  .overlay h2, atom-panel.modal h2 {
    font-size: 1.3em; }
  .overlay atom-text-editor[mini], atom-panel.modal atom-text-editor[mini] {
    margin-bottom: 10px; }
  .overlay .message, atom-panel.modal .message {
    padding-top: 5px;
    font-size: 11px; }
  .overlay.mini, atom-panel.modal.mini {
    width: 200px;
    margin-left: -100px;
    font-size: 12px; }

.overlay.from-top,
atom-panel.modal {
  top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.overlay.from-bottom {
  bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.overlay.floating {
  left: auto; }

atom-pane-container {
  position: relative;
  display: -webkit-flex;
  -webkit-flex: 1; }
  atom-pane-container atom-pane-axis {
    display: -webkit-flex;
    -webkit-flex: 1; }
    atom-pane-container atom-pane-axis > atom-pane-resize-handle {
      position: absolute;
      z-index: 3; }
  atom-pane-container atom-pane-axis.vertical {
    -webkit-flex-direction: column; }
    atom-pane-container atom-pane-axis.vertical > atom-pane-resize-handle {
      width: 100%;
      height: 8px;
      margin-top: -4px;
      cursor: row-resize;
      border-bottom: none; }
  atom-pane-container atom-pane-axis.horizontal {
    -webkit-flex-direction: row; }
    atom-pane-container atom-pane-axis.horizontal > atom-pane-resize-handle {
      width: 8px;
      height: 100%;
      margin-left: -4px;
      cursor: col-resize;
      border-right: none; }
  atom-pane-container atom-pane {
    position: relative;
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-direction: column;
    overflow: visible; }
    atom-pane-container atom-pane .item-views {
      -webkit-flex: 1;
      display: -webkit-flex;
      min-height: 0;
      min-width: 0;
      position: relative; }
      atom-pane-container atom-pane .item-views .pane-item {
        color: #333;
        background-color: #fff; }
      atom-pane-container atom-pane .item-views > *, atom-pane-container atom-pane .item-views > atom-text-editor.react > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }

.platform-win32 atom-pane-container atom-pane-axis.vertical > atom-pane-resize-handle {
  cursor: ns-resize; }

.platform-win32 atom-pane-container atom-pane-axis.horizontal > atom-pane-resize-handle {
  cursor: ew-resize; }
